body{
    background-color: black;
    color:white;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

button{
  margin-top:10px;
  margin-bottom:10px;
}
