h1,
h2,
h3 {
  text-align: center;
}

p {
  text-align: center;
}

ol,
ul {
  list-style-type: none;
}

.footer-top ol li h1 {
  font-size: 20px;
  font-family: "PlayfairDisplay";
}

.header-overlay img {
  width: 100%;
  margin: auto;
}

.header-info p {
  color: white;
  font-family: "WorkSans";
  font-weight: bold;
  text-transform: uppercase;
}


.header-info h1 {
  font-family: "PlayfairDisplay";
  color: white;
  font-weight: bold;
  margin: auto;
}

 


/* grid info on hover */
.grid-item-info {
  position: absolute;
  width: 100%;
  background-color: white;
  /* top: 65px; */
}

.image-item-small .grid-item-info {
  top: 40%;
}

.image-item-long .grid-item-info {
  top: 168px;
}

.testimonial-carousel-item p:first-child {
  font-family: "PlayfairDisplay";
  font-style: italic;
}

.testimonial-carousel-item p:first-child + p {
  font-family: "WorkSans";
  text-transform: uppercase;
}

.about-us i {
  color: rgba(255, 255, 255, 0.877);
}

.about-us a:hover i {
  color: white;
}

/* grid-item-info in mobile and tablet*/
@media (min-width: 375px) and (max-width: 1023px) {
  .grid-item-info {
    display: block;
  }
}

.toggle-container button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.849);
  border: none;
  outline: none;
  width: 20px;
}

.toggle-container button:hover{
  color:white;
  cursor:pointer;
}

.about-agency-info img {
  display: block;
  margin: auto;
  padding-top: 37px;
}

/* mobile */
@media (min-width: 375px) {

  .header-info p {
    /* text-align: center; */
    font-size: 10px;
    width: 90%;
    margin: auto;
  }
  .header-info h1 {
    font-size: 18px;
    width: 90%;
    margin: auto;
  }

  .header-overlay .banner{
    display: none;
  }
  .navbar{
    padding: 20px 20px 0px 20px;
  }
  /* .image-item-small .grid-item-info{
    top:unset;
    bottom:0;
  } */

  /* .image-item-long .grid-item-info{
    top:unset;
    bottom:0;
  } */


  .agency-insights-item img {
    display: block;
    margin: auto;
    width: 20%;
  }

  .agency-insights-item p {
    color: white;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 12px;
  }

  /* testimonial carousel */
  .testimonial-carousel-inner ol {
    position: absolute;
    bottom: 30px;
    left: 49.0849%;
  }
  .testimonial-carousel-inner ol li {
    margin-left: 5px;
    border-radius: 50%;
    float: left;
  }
  .glow {
    margin-top: 2.5px;
    width: 5px;
    height: 5px;
    background-color: grey;
  }
  .testimonial-carousel-inner ol li:first-child {
    margin-left: 0px;
  }
  .testimonial-carousel-inner ol .active {
    margin-top: 0px;
    width: 10px;
    height: 10px;
    background-color: white;
  }

  .clients-container {
    background-color: white;
  }
  .clients-container ol li {
    width: 33%;
    padding-top: 26px;

  }
  /* .clients-container ol li img{
    width: 100%;
  } */

  .blog-banner img {
    width: 100%;
  }
  .blog-banner span {
    position: absolute;
    background-color: #252525;
    color: white;
    font-size: 12px;
    font-family: "WorkSans";
    text-transform: uppercase;
    padding: 0px 12px;
    left: 10px;
    bottom: 10px;
  }
  .blog-info h2 {
    font-size: 20px;
    font-family: "PlayfairDisplay";
    font-weight: bold;
  }
  .blog-info p:first-child {
    font-size: 12px;
    font-family: "WorkSans";
    text-transform: uppercase;
    line-height: 2;
  }

  .blog-info p:first-child + p {
    font-size: 15px;
    font-family: "WorkSans";
    color: rgb(95, 95, 95);
    line-height: 1.6;
  }

  /* indicatiors */
  .blog-carousel-item-container ol {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 30px;
    margin: auto;
  }
  .blog-carousel-item-container ol li {
    margin-left: 5px;
    border-radius: 50%;
    float: left;
  }
  .blog-carousel-item-container ol.glow {
    margin-top: 2.5px;
    width: 5px;
    height: 5px;
    background-color: white;
  }
  .blog-carousel-item-container ol li:first-child {
    margin-left: 0px;
  }
  .blog-carousel-item-container ol .active {
    margin-top: 0px;
    width: 10px;
    height: 10px;
    background-color: black;
  }
  
  

  .blog-card-info {
    padding: 5px 10px 12px 10px;
}

  .blog-card-info h2 {
    font-size: 18px;
    font-family: "PlayfairDisplay";
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
  }

  .blog-card-info p {
    text-align: left;

    font-size: 10px;
    font-family: "WorkSans";
    text-transform: uppercase;
    line-height: 2;
  }

  .blog-card-info p:last-child {
    text-align: left;
    font-size: 12px;
    font-family: "WorkSans";
    color: rgb(95, 95, 95);
  }

  .contact-info h1,
  .contact-info p,
  .contact-info ul {
    width: 84.8%;
    text-align: left;
  }

  .contact-form input {
    width: 95.2191%;
    height:50px;
    outline: none;
    margin: 5px 0px;
    line-height: 30px;
    padding: 0 12px;
    border: none;
    margin-bottom: 3.90625%;
  }
  .contact-form textarea {
    width: 95.2191%;
    height:170px;
    line-height: 50px;
    padding: 0 12px;
    margin: 5px 0;
    border: none;
    margin-bottom: 3.90625%;
  }
  .contact-form button {
    width: 50%;
    padding: 10px 10px;
    display: block;
    margin: auto;
    color: white;
    background-color: #252525;
    border: 1px solid #252525 ;
    font-size: 14px;
    font-family: "WorkSans";
    text-transform: uppercase;
    text-align: left;
  }

  .contact-form button:hover {
    color: #252525;
    border:1px solid #252525;
    background-color: white;
    cursor:pointer;
  }

  .contact-details li{
    padding-bottom:10px;
  }

  .instagram-feed img {
    width: 22.9719%;
    margin-left: 1.2664%;
    /* margin-left: 2.7027%; */
    background-color: grey;
  }
  .instagram-feed .margin-rem {
    margin-left: 0px;
  }

  .footer-links i {
    color: white;
    width: 18px;
  }
}

/* tablet */
@media (min-width: 768px) {
  .header-overlay .banner{
    display: block;
  }

  .header-info h1 {
    font-size: 28px;
    width: 81%;
    margin: auto;
  }
  .header-info p {
    width: 80%;
    font-size: 14px;
  }

  .navbar {
    padding: unset;
    padding-top: 38px;
  }

  .dropdown-container {
    padding-top: 36px;
  }
  .dropdown-container button {
    width: 30.8803px;
    height: 30.8803px;
    background: transparent;
    outline: none;
    border-radius: 50%;
    border: 1px solid white;
    background: transparent;
    display: block;
    margin: auto;
  }

  .dropdown-container:hover button:hover {
    border-color: grey;
  }

  .dropdown-container button i {
    font-size: 8px;
    color: white;
    margin: auto;
    cursor:pointer;
  }

  .dropdown-container button:hover i {
    color: grey;

  }

  .grid-item-info {
    width: 100%;
  }

  .clients-container ol li {
    float:left;
    width: 21%;
    padding-top: 0;
  }
  .contact-form button {
    margin: unset;
  }
  .contact-details li{
    padding-bottom:14px;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .header-info {
    width: 85%;
  }
  .header-info h1 {
    font-size: 40px;
    margin: auto;
  }

  .header-info p {
    font-size: 16px;
  }
  .navbar {
    padding-top: 38px;
  }

  .dropdown-container {
    padding-top: 12.4%;
    padding-bottom: 30px;
  }

  /* grid info on hover  */
  .grid-item-info {
    /* position: absolute;
   width:100%;
   background-color:white; */
    display: none;
  }

  .image-item-small:hover .grid-item-info,
  .image-item-long:hover .grid-item-info {
    display: block;
  }

  .testimonial-carousel-item p:first-child {
    font-size: 30px;
  }

  .testimonial-carousel-item p:first-child + p {
    font-size: 14px;
  }

  .agency-insights-item img {
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 15px;
    width: unset;
    float: left;
  }

  /* .agency-insights-item p {
    margin-left:76px;
    text-align: left;
    font-family: "WorkSans";
   
  } */
  .agency-insights-item p {
    font-size: 14px;
    text-align: left;
  }
  .agency-insights-item p:last-child {
    font-size: 10px;
    padding-left: 62px;
  }

  .blog-card-info {
    padding: 25px 30px 27px 30px;
  }

  /* contacts */

  .contact-form input , .contact-form textarea{
    padding-top:5px;
    padding-bottom:5px;
  }
  .contact-form input:first-child {
    margin-right: 30px;
  }
  .contact-form input:first-child,
  .contact-form input:first-child + input {
    /* width:42.1052%; */
    width: 41.791%;
    padding: 0px 12px;
    border: none;
  }

  .contact-form button {
    width: 26.7857%;
    display: inline;
  }

  .contact-details li{
    padding-bottom:24px;
  }

  /* footer */

  .about-us h1,
  .latest-twits h1,
  .instagram-feed h1 {
    text-align: left;
    font-family: "PlayfairDisplay";
    font-size: 20px;
    font-weight: bold;
    line-height: 66px;
  }
  .about-us p,
  .latest-twits li {
    text-align: left;
  }
  .about-us p{
  padding-bottom: 5.2083%;
}
  .about-us ul li {
    float: left;
    width: 4.8648%;
    margin-left: 4.054%;
  }
  .about-us ul li:first-child {
    margin-left: 0;
    
  }



}
