
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.carousel-container .indicator{
  background-color:white;
}
.carousel-container .active{
  background-color:green;
}

.carousel-container ul{
    list-style-type: none;
    position: absolute;
    background-color: black;
    left:170px;
    width: 30px;
    height:30px;
    margin:auto;
    display: block;
    bottom: 0;
}

.carousel-container li {
  border-radius: 50%;
  background-color:white;
  float:left;
}
