
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.indicator-container .indicator{
    background-color:red;
}
.indicator-container .active{
    background-color:green;
}