
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.indicator-container .indicator{
    background-color:rgb(184, 184, 184);
}
.indicator-container .active{
    background-color:rgb(21, 240, 57);
}